.body{
    background-color: #FFFFFF;
    padding: 0;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: 000;
    font-size: 18px;

}
h1, h2, h3, h4, h5, h6 { 
padding: 0;
margin: 0;
}
ul , li {
    display:block;
    margin: 0px;
    padding: 0px;
}
.container {
    width: 1143px;
    height: 0 auto; 
}
.header a {
    color: #828282;
}
.menu {
    margin-left: 248px;
    margin-right: 248px;
    display: flex;
}
.menu li a{
    text-decoration: none;
    font-size: 14px;
}
.menu li {
    margin-right: 155.65px;
   
}
.nav{
    margin-top: 33px;
}
